body {
  font-family: 'Lato';
  margin: 0;
  background: white;
  transition: 1.5s ease background;
}

/* comics container */

.mainContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(129, 208, 240, 0.7);
  
  transition: background 2s ease;;
}

.stage1 {
  background: rgba(129, 208, 240, 0.7);
}

.stage2 {
  background: rgba(235, 150, 124, 0.7);
}

.title {
  color: #111;
  margin-bottom: 200px;
  font-size: 2em;

  transition: opacity 2s ease;
}


#audio {
  position: absolute;
  z-index: 9999;
}

#canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events:none;
}